<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|html?)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "Thu, 19 Nov 1981 08:52:00 GMT"
  </FilesMatch>
  <FilesMatch "\.php$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "Thu, 19 Nov 1981 08:52:00 GMT"
  </FilesMatch>
</IfModule>
